.row{
    display: flex;
    width: 100%;
}
.row::after{
    display: block;
    clear: both;
    content:"";
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

*{
   box-sizing: border-box;
}

[class*=col-]{
    padding: 15 px;
    float: left;
}



body{
    background-color: lightblue;
}



.all{
    width:72.5%;
    margin: auto;
    background-color: lavender;
    border: 2px solid blue;
    margin-bottom: auto;
    display: block;
    box-shadow: 0px 3px 7px blue;
    padding: 20px;
    min-height: 100%;
}



.heading1div{
    height: 80px;
}
.heading1{
    cursor: default;
    text-align: center;
    margin-top: 6%;
    padding-bottom: 3%;
    font-size: 32px;
    transition: 0.5s;
}

.heading1 a{
    text-decoration: none;
}

.heading1:hover{
    font-size: 38px;
    transition: 0.5s;
}


/* ########### form ########### */

.login{
    display: block;
    background-color: azure;
    width: 60%;
    margin: auto;
    padding: 10px;
}

.username{
    display: block;
    height: 30px;
    border: 1px solid blue;
    border-radius: 7px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    width: 85%;
}

.password{
    display: block;
    height: 30px;
    border: 1px solid blue;
    border-radius: 7px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    width: 85%;
}

.loginbtn{
    position: relative;
    display: inline;
    border: 1px solid blue;
    border-radius: 7px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    line-height:8px;
    background-color: cornsilk;
    box-shadow: 0px 1px 1px blue;
}
.loginbtn:hover{
    box-shadow: 0px 2px 2px blue;
}
.loginbtn a{
    text-decoration: none;
    color: black;
}

.needHelp{
    display: inline;
    margin-left: 5%;
}
.signup{
    display: inline;
    float: right;
    margin-right: 30px;
}


.image{
    display: inline;
    margin: 0px;    
    padding: 10px;
}


/* ########## buttons ######### */

.start{
    display: block;
    margin: auto;
    margin-top: 4%;
    font-size: 25px;
    background-color: palegreen;
    border: 2px solid green;
    border-radius: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor : pointer;
    height: 50px;
    margin-bottom: 4%;
    width: 60%;
    transition: 0.5s;
}
.start:hover{
    width: 62%;
    font-size:27px;
    transition: 0.5s;
    box-shadow: 0px 2px 3px green;
}

.start a{
    text-decoration: none;
}



/* ######### Mobile view ########## */

@media screen and (max-width: 780px){
    .all{
        width: 95%;
    }

    .start{
        width: 100%;
        font-size: 18px;
    }
    .start:hover{
        font-size: 20px;
    }

    .heading1div{
        padding: 20px;
        padding-bottom: 150px;
    }


    .login{
        width: 100%;

    }

    .loginbtn{
        width:45%;
        display:block;
    }

    .needHelp{
        margin: 0;
        margin-left: 15px;
    }

    .signup{
        margin: 0;
        margin-right: 10px;
    }

    .username{
        width: 90%;
    }

    .password{
        width: 90%;
    }

    .image{
        width: 100%;
    }

}